.nav {
  position: fixed;
  height: 60px;
  font-size: 1.3em;
  width: 100vw;
  top: 0;
  color: #e73d23;
  background-color: white;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2); }
  .nav .contain {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav .contain img {
      height: 50px; }
    .nav .contain h1, .nav .contain h2, .nav .contain ul li {
      padding: 0 15px;
      height: 60px;
      display: flex;
      align-items: center; }
    .nav .contain ul {
      margin-left: auto;
      list-style: none;
      display: flex; }
      .nav .contain ul li {
        font-size: 1em; }
        .nav .contain ul li a {
          text-decoration: none;
          color: inherit; }
          .nav .contain ul li a:visited {
            color: inherit; }

.landing {
  margin-top: 60px;
  height: 450px;
  background: linear-gradient(0deg, #e73d23, #ff7a2d);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white; }
  .landing .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%; }
    .landing .container h1 {
      font-size: 2.3em; }
    .landing .container button {
      font-size: 1.8em;
      padding: 15px 40px;
      background: transparent;
      border: 3px solid white;
      font-weight: 300;
      letter-spacing: .1em;
      color: inherit;
      border-radius: 100px; }

.solutions .container {
  width: 70%;
  margin-left: 15%;
  border: 1px solid black; }
  .solutions .container .box {
    padding: 30px; }
    .solutions .container .box img {
      width: 200px; }
