body {
  background-color: #f7f7f7; }

.nav {
  position: fixed;
  height: 70px;
  font-size: 1.3em;
  width: 100vw;
  top: 0;
  color: #78788c;
  background-color: #f7f7f7;
  box-sizing: content-box;
  transition: all .42s;
  box-shadow: 0 0 30px rgba(120, 120, 170, 0.2); }
  .nav .contain {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav .contain img {
      height: 60px; }
    .nav .contain .logo {
      width: 7px;
      height: 7px;
      margin: 20px 25px 20px 20px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 20px 0px 0 0 #9d9db1, 16.18px 11.76px 0 0 #9d9db1, 6.18px 19.02px 0 0 #9d9db1, -6.18px 19.02px 0 0 #9d9db1, -16.18px 11.76px 0 0 #9d9db1, -20px 0px 0 0 #9d9db1, -16.18px -11.76px 0 0 #9d9db1, -6.18px -19.02px 0 0 #9d9db1, 6.18px -19.02px 0 0 #9d9db1, 16.18px -11.75px 0 0 #9d9db1; }
    .nav .contain h1 {
      font-size: 2.7em;
      font-family: 'Dosis';
      font-family: 'Quicksand', Helvetica, sans-serif;
      font-family: 'Lato';
      font-weight: 500;
      color: #9d9db1; }
    .nav .contain h2, .nav .contain ul li {
      padding: 0 15px;
      height: 70px;
      display: flex;
      align-items: center; }
    .nav .contain ul {
      margin-left: auto;
      list-style: none;
      display: flex; }
      .nav .contain ul li {
        font-size: 1em; }
        .nav .contain ul li a {
          text-decoration: none;
          color: inherit;
          height: 100%;
          display: flex;
          align-items: center;
          transition: all .22s; }
          .nav .contain ul li a:visited {
            color: inherit; }
          .nav .contain ul li a:hover {
            color: #e73d23; }

.landing {
  margin-top: 70px;
  height: 450px;
  background: linear-gradient(15deg, #e73d23, #ff7a2d);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white; }
  .landing .contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%; }
    .landing .contain h1 {
      font-size: 2.3em; }
    .landing .contain button {
      font-size: 1.8em;
      padding: 15px 40px;
      background: transparent;
      border: 3px solid white;
      font-weight: 400;
      letter-spacing: .1em;
      color: inherit;
      border-radius: 100px;
      transition: all .30s; }
      .landing .contain button:hover {
        box-shadow: 0 0 40px rgba(250, 250, 250, 0.6); }

.solutions {
  background: whitesmoke; }
  .solutions .contain {
    width: 70%;
    margin-left: 15%;
    display: grid;
    padding: 25px 0;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 25px; }
    .solutions .contain .box {
      background: white;
      padding: 40px 30px 30px 30px;
      box-shadow: 0 0 20px rgba(120, 120, 170, 0.2);
      border-radius: 7px;
      transition: all .42s;
      color: #9d9db1;
      cursor: pointer; }
      .solutions .contain .box:hover {
        box-shadow: 0 0 28px rgba(110, 110, 145, 0.45);
        color: #78788c; }
        .solutions .contain .box:hover svg .st0, .solutions .contain .box:hover svg .st1, .solutions .contain .box:hover svg .st2, .solutions .contain .box:hover svg .st6 {
          stroke: #78788c; }
      .solutions .contain .box svg {
        width: 75%;
        margin-left: 12.5%; }
        .solutions .contain .box svg .st0 {
          stroke-linejoin: round;
          stroke-linecap: round; }
        .solutions .contain .box svg .st1 {
          stroke-dasharray: 2,2; }
        .solutions .contain .box svg .st2 {
          stroke-dasharray: 2,1.8; }
        .solutions .contain .box svg .st6 {
          stroke-dasharray: 2,1.8; }
        .solutions .contain .box svg .st0, .solutions .contain .box svg .st1, .solutions .contain .box svg .st2, .solutions .contain .box svg .st6 {
          fill: none;
          stroke: #9d9db1;
          stroke-width: 2;
          stroke-miterlimit: 10;
          transition: all .42s; }
        .solutions .contain .box svg path, .solutions .contain .box svg rect {
          fill: #ff7a2d; }
      .solutions .contain .box h2 {
        margin-top: -15px;
        margin-bottom: 18px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        color: inherit; }
      .solutions .contain .box p {
        color: inherit; }

footer {
  text-align: center;
  color: #f7f7f7;
  background-color: #78788c;
  padding: 65px 0;
  position: relative; }
  footer div {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background: linear-gradient(2deg, #e73d23, #ff7a2d); }

@media only screen and (max-width: 1200px) {
  .nav .contain {
    width: 100%;
    margin-left: 0;
    padding: 0 25px; }
  .landing .contain {
    width: 100%;
    margin-left: 0; }
  .solutions .contain {
    width: 100%;
    margin-left: 0;
    padding: 25px 25px; } }
