.nav {
  position: fixed;
  position: sticky;
  font-size: 1.3em;
  width: 100vw;
  top: 0;
  color: #78788c;
  background-color: transparent;
  background-color: white;
  box-sizing: content-box;
  transition: all .42s;
  z-index: 5; }
  .nav .contain {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .nav .contain .logo_parent {
      display: flex;
      align-items: center;
      height: 70px; }
      .nav .contain .logo_parent .logo {
        width: 7px;
        height: 7px;
        margin: 20px 25px 20px 20px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 20px 0px 0 0 #78788c, 16.18px 11.76px 0 0 #78788c, 6.18px 19.02px 0 0 #78788c, -6.18px 19.02px 0 0 #78788c, -16.18px 11.76px 0 0 #78788c, -20px 0px 0 0 #78788c, -16.18px -11.76px 0 0 #78788c, -6.18px -19.02px 0 0 #78788c, 6.18px -19.02px 0 0 #78788c, 16.18px -11.75px 0 0 #78788c; }
      .nav .contain .logo_parent h1 {
        font-size: 2.7em;
        font-family: 'Dosis';
        font-family: 'Quicksand', Helvetica, sans-serif;
        font-family: 'Lato';
        font-weight: 500; }
    .nav .contain h2, .nav .contain ul li {
      padding: 0 15px;
      height: 70px;
      display: flex;
      align-items: center;
      color: #78788c; }
    .nav .contain ul {
      margin-left: auto;
      list-style: none;
      display: flex; }
      .nav .contain ul li {
        font-size: 1em; }
        .nav .contain ul li a {
          text-decoration: none;
          color: inherit;
          height: 100%;
          display: flex;
          align-items: center;
          transition: all .22s; }
          .nav .contain ul li a:visited {
            color: inherit; }
          .nav .contain ul li a:hover {
            color: #e73d23; }
    .nav .contain button {
      display: none;
      height: 70px;
      border: none;
      background: transparent;
      padding: 0; }
      .nav .contain button .drop {
        width: 50px;
        height: 4px;
        background: #78788c;
        border: none;
        border-radius: 3px;
        box-shadow: 0 12px 0 #78788c, 0 -12px 0 #78788c; }

.nav_bottom {
  background: #f2f2f2;
  margin-top: -70px;
  height: 74px;
  position: sticky;
  top: 0;
  z-index: 1; }
