@import './../utilities/variables.scss';

// body {
    
// }

// general contain;
.contain, .solutions > .header {
    width: 70%;
    margin-left: 15%;
}

.phone {
    color: white;
    background: $grey;
    background: linear-gradient(2deg, $grey_dark, $grey, $grey_light);
    font-size: 1.3em;
    z-index: 2;
    .contain {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        svg{
            margin-bottom: -5px;
            width: 20px;
            path{
                fill:white;
            }
        }
        h1{
            margin-left: 15px;
        }
    }
}

.solutions {
    background: rgb(245, 245, 245);

    & > .header {
        &:nth-child(1) {
            margin-top: 25px;
        }
        // padding-top: 20px;
        // background: white;
        // box-shadow: 0 0 20px $shadow_light;
        // border: 4px solid $grey_light;
        border-radius: 7px;
        color: $grey_light;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        // align-items: center;
        h1{
            font-size: 2.4em;
            margin-bottom: 10px;
        }
        h2{
            font-size: 1.4em;
        }
    }
    .contain {
        // width: 70%;
        // margin-left: 15%;
        // background: whitesmoke;
        display: grid;
        padding: 25px 0;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 25px;
        .box{
            background: white;
            padding: 40px 30px 30px 30px;
            box-shadow: 0 0 20px $shadow_light;
            // border: 6px solid $grey_light;
            border-radius: 7px;
            transition: all .42s;
            color: $grey_light;
            &:hover{
                box-shadow: 0 0 38px $shadow;
                // box-shadow: none;
                // border: 6px solid $grey;
                color: $grey;
                svg{
                    // transform: scale(.8);
                    .st0,.st1,.st2,.st6 {
                        stroke: $grey;
                    }
                }
            }
            cursor: pointer;
            svg {
                // transform: scale(.75);
                width: 75%;
                margin-left: 12.5%;
                .st0{
                    stroke-linejoin:round;
                    stroke-linecap:round;
                }
                .st1{
                    stroke-dasharray:2,2;
                }
                .st2{
                    stroke-dasharray:2,1.8;
                }
                .st6{
                    
                    stroke-dasharray:2,1.8;
                }
                .st0,.st1,.st2,.st6 {
                    fill:none;
                    stroke: $grey_light;
                    stroke-width:2;
                    stroke-miterlimit:10;
                    transition: all .42s;
                }

                // path, rect{
                //     stroke: rgb(190, 190, 190);
                //     fill: rgb(190, 190, 190);
                // }
                path, rect {
                    fill: $color_light;
                }
            }
            h2 {
                margin-top: -15px;
                margin-bottom: 18px;
                text-align: center;
                font-size: 1.8em;
                font-weight: bold;
                color: inherit;
            }
            p {
                color: inherit;
            }
        }
    }
}

footer{
    text-align: center;
    color: $white;
    background-color: $grey;
    padding: 65px 0;
    position: relative;
    div{
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 50px;
        background: linear-gradient(2deg, $color_dark, $color_light);
    }
}

@media only screen and (max-width: 1200px) {
    .contain {
        width: 100%;
        margin-left: 0;
    }
    .nav {
        .contain {
            padding: 0 15px;
        }
    }
    .solutions{
        & > .header {
            width: calc(100% - 50px);
            margin: 0 25px;
            &:nth-child(1) {
                margin: 25px 25px 0 25px;
            }
        }
        .contain {
            padding: 25px 25px;
        }
    }
}

@media only screen and (max-width: 1024px){
    .nav {
        .contain{
            ul {
                display: none;
            }
            button {
                display: inline;
            }
        }
    }

    .solutions{

        & > .header {
            width: calc(100% - 30px);
            margin: 0 15px;
            padding: 15px;
            flex-direction: column;
            &:nth-child(1){
                margin: 15px 15px 0 15px;
            }
            h1 {
                margin-bottom: 15px;
                align-self: flex-start;
            }
            h2 {
                align-self: flex-end;
            }
        }

        .contain{
            grid-gap: 15px;
            padding: 15px;
        }
    }
    // .landing {
    //     // .contain {
    //     //     // border: 2px solid fuchsia;
    //     // }
    // }
}

@media only screen and(max-width: 740px){

}