@import './../utilities/variables.scss';

// body {
    
// }

// general contain;
.contain, .solutions > .header {
    width: 70%;
    margin-left: 15%;
}

.phone {
    color: white;
    background: $grey;
    // background: linear-gradient(0deg,  $grey, $grey_dark);
    background: linear-gradient(2deg, $grey_dark, $grey, $grey_light);
    // background: linear-gradient(2deg, $grey, $grey_light);
    font-size: 1.3em;
    z-index: 2;
    .contain {
        // width: 70%;
        // margin-left: 15%;
        display: flex;
        // justify-content: flex-end;
        align-items: center;
        padding: 10px 15px;
        svg{
            margin-bottom: -5px;
            width: 20px;
            path{
                fill:white;
            }
        }
        h1{
            margin-left: 15px;
        }
    }
}

.nav {
    position: fixed;
    position: sticky;
    // height: $navHeight;
    font-size: 1.3em;
    width: 100vw;
    top: 0;
    color: $grey;
    background-color: $white;
    box-sizing: content-box;
    transition: all .42s;
    box-shadow: 0 0 30px $shadow_light;
    .contain {
        // width: 70%;
        // margin-left: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // img {
        //     height: $navHeight - 10px;
        // }
        .logo_parent {
            display: flex;
            align-items: center;
            height: $navHeight;
            .logo{
                width: 7px;
                height: 7px;
                margin: 20px 25px 20px 20px;
                background-color: transparent; 
                // background-color: red;

                border-radius: 50%;
                box-shadow:
                    20px 0px 0 0 $grey, 
                    16.18px 11.76px 0 0 $grey, 
                    6.18px 19.02px 0 0 $grey, 
                    -6.18px 19.02px 0 0 $grey, 
                    -16.18px 11.76px 0 0 $grey, 
                    -20px 0px 0 0 $grey, 
                    -16.18px -11.76px 0 0 $grey, 
                    -6.18px -19.02px 0 0 $grey, 
                    6.18px -19.02px 0 0 $grey, 
                    16.18px -11.75px 0 0 $grey;
            }
            h1 {
                font-size: 2.7em;
                font-family: 'Dosis';
                font-family: 'Quicksand', Helvetica, sans-serif;
                font-family: 'Lato';
                font-weight: 500;
                // color: $grey;
            }
        }
        // h2 {
        //     height: $navHeight;
        //     display: flex;
        //     align-items: flex-end;
        //     padding-bottom: .5em;
        //     margin-left: 30px;
        // }
        h2, ul li{
            padding: 0 15px;
            height: $navHeight;
            display: flex;
            align-items: center;
            color: $grey;
        }
        ul{
            margin-left: auto;
            list-style: none;
            display: flex;
            li{
                font-size: 1em;
                // padding: 15px 10px;
                a{
                    text-decoration: none;
                    color:inherit;
                    // border:1px solid red;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: all .22s;
                    &:visited{
                        color:inherit;
                    }
                    &:hover{
                        color:$color_dark;
                    }
                }
            }
        }
        button{
            display: none;
            height: $navHeight;
            border: none;
            background: transparent;
            padding: 0;
            .drop {
                width: 50px;
                height: 4px;
                background: $grey;
                border: none;
                border-radius: 3px;
                box-shadow: 0 12px 0 $grey, 0 -12px 0 $grey;
            }
        }
    }
}

.landing{
    height: 450px;
    // background-image: url('./../images/jpg/net.jpg');
    background-size: cover;
    background: linear-gradient(15deg, $color, $color_lighter) fixed;
    background-position: fixed;
    .cover{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
            // color: $grey;
            // background: linear-gradient(10deg, $color_dark, $color_light );
        .contain{
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            text-align: center;
            h1{
                font-size: 2.3em;
            }
            h2{
                font-size: 1.8em;
            }
            .btns{
                display: flex;
                align-items: center;
                // button:first-child {
                //     border-radius: 100px 0 0 100px;
                // }
                // button:last-child {
                //     border-radius: 0 100px 100px 0;
                // }

                button {
                    width: 7em;
                    font-size: 1.8em;
                    padding: 15px 40px;
                    background: rgba(0,0,0,0);
                    border: 3px solid white;
                        border: 3px solid $grey;
                        border: 3px solid white;
                    font-weight: 400;
                    letter-spacing: .1em;
                    color:inherit;
                    border-radius: 100px;
                    transition: all .30s;
                    &:hover{
                        // background: $color_dark;
                        box-shadow: 0 0 40px rgba(250,250,250,.6);
                            // box-shadow: 0 0 40px $shadow;
                            // background: white;
                        // border:none;
                        // color: $white;
                    }
                }
                h2{
                    // align-self: flex-end;
                    font-size: 2em;
                    margin: 0 20px;
                }
            }
        } 
    } 
}

.solutions {
    background: rgb(245, 245, 245);

    & > .header {
        &:nth-child(1) {
            margin-top: 25px;
        }
        padding: 25px;
        background: white;
        box-shadow: 0 0 20px $shadow_light;
        border-radius: 7px;
        color: $grey_light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 2.4em;
        }
        h2{
            font-size: 1.8em;
        }
    }
    .contain {
        // width: 70%;
        // margin-left: 15%;
        // background: whitesmoke;
        display: grid;
        padding: 25px 0;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 25px;
        .box{
            background: white;
            padding: 40px 30px 30px 30px;
            box-shadow: 0 0 20px $shadow_light;
            // border: 6px solid $grey_light;
            border-radius: 7px;
            transition: all .42s;
            color: $grey_light;
            &:hover{
                box-shadow: 0 0 38px $shadow;
                // box-shadow: none;
                // border: 6px solid $grey;
                color: $grey;
                svg{
                    // transform: scale(.8);
                    .st0,.st1,.st2,.st6 {
                        stroke: $grey;
                    }
                }
            }
            cursor: pointer;
            svg {
                // transform: scale(.75);
                width: 75%;
                margin-left: 12.5%;
                .st0{
                    stroke-linejoin:round;
                    stroke-linecap:round;
                }
                .st1{
                    stroke-dasharray:2,2;
                }
                .st2{
                    stroke-dasharray:2,1.8;
                }
                .st6{
                    
                    stroke-dasharray:2,1.8;
                }
                .st0,.st1,.st2,.st6 {
                    fill:none;
                    stroke: $grey_light;
                    stroke-width:2;
                    stroke-miterlimit:10;
                    transition: all .42s;
                }

                // path, rect{
                //     stroke: rgb(190, 190, 190);
                //     fill: rgb(190, 190, 190);
                // }
                path, rect {
                    fill: $color_light;
                }
            }
            h2 {
                margin-top: -15px;
                margin-bottom: 18px;
                text-align: center;
                font-size: 1.8em;
                font-weight: bold;
                color: inherit;
            }
            p {
                color: inherit;
            }
        }
    }
}

footer{
    text-align: center;
    color: $white;
    background-color: $grey;
    padding: 65px 0;
    position: relative;
    div{
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 50px;
        background: linear-gradient(2deg, $color_dark, $color_light);
    }
}

@media only screen and (max-width: 1200px) {
    .contain {
        width: 100%;
        margin-left: 0;
    }
    .nav {
        .contain {
            padding: 0 15px;
        }
    }
    .solutions{
        & > .header {
            width: calc(100% - 50px);
            margin: 0 25px;
            &:nth-child(1) {
                margin: 25px 25px 0 25px;
            }
        }
        .contain {
            padding: 25px 25px;
        }
    }
}

@media only screen and (max-width: 1024px){
    .nav {
        .contain{
            ul {
                display: none;
            }
            button {
                display: inline;
            }
        }
    }

    .solutions{

        & > .header {
            width: calc(100% - 30px);
            margin: 0 15px;
            padding: 15px;
            flex-direction: column;
            &:nth-child(1){
                margin: 15px 15px 0 15px;
            }
            h1 {
                margin-bottom: 15px;
                align-self: flex-start;
            }
            h2 {
                align-self: flex-end;
            }
        }

        .contain{
            grid-gap: 15px;
            padding: 15px;
        }
    }
    // .landing {
    //     // .contain {
    //     //     // border: 2px solid fuchsia;
    //     // }
    // }
}

@media only screen and(max-width: 740px){

}